name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: make deps

    - name: Check code format
      run: make format-check

    - name: Lint with pylint
      run: make check-lint

    - name: Run tests
      run: make test

    - name: Build executable
      run: make build
