name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: make deps

    - name: Run tests
      run: make test

    - name: Build executable
      run: make build
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: x-ray-linux-amd64
        path: dist/x-ray
